@import url("https://api.fontshare.com/v2/css?f[]=clash-display&display=swap");
@import "tailwindcss";

@theme {
  /* Fonts Definition */
  --font-clash-display: "Clash Display", system-ui, sans-serif;
  --font-redhat: "Red Hat Display", system-ui, sans-serif;
  --font-epilogue: "Epilogue", system-ui, sans-serif;
  --font-inter: "Inter", system-ui, sans-serif;
}

/* Helper class for utilities since Tailwind doesn't include this custom font */
@layer utilities {
  .font-clash-display {
    font-family: var(--font-clash-display) !important;
  }
}

/* Base Styles */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-epilogue);
  }
}